* {
    font-family: monospace;
}

table{
    width:100%;
    table-layout: fixed ;
}

th {
    background-color: darkolivegreen;
}

h1, h2, p, ol{
    text-align:center;
    list-style-position: inside;
}

h1{
   text-transform: uppercase; 
}

#keys td{
    background-color: darkkhaki;
}

#keys td h3{
    text-align:left;
}

#values td{
    background-color: ivory;
    overflow: hidden;
}