@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Global styles */
header {
    width: 70%;
    margin: auto;
  }
section {
    width: 70%;
    border: 1px solid green;
    padding: 20px;
    margin: auto;
  }
/* Section - Colors */
.colors_table{
    width: 100%;
    border-spacing: 0 30px;
}
.colors_table td{
    padding: 15px;
}
/* Section - Fonts */
.Muli {
    font-family: 'Muli', sans-serif;
}
.Trispace {
    font-family: 'Trispace', sans-serif;
}
.plain {
    font-weight: 400;
    font-size: 20px;
}
.bold {
    font-weight: 700;
    font-size: 20px;
}
.italic {
    font-weight: 400;
    font-size: 20px;
    font-style: italic
}
.underlined {
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}
/* Section - Styles */
h1{
    font-family: 'Muli', sans-serif;
    color:black;
    font-weight:1000;
    font-size: 30px;
    text-transform: uppercase;
}
h2{
    font-family: 'Trispace', sans-serif;
    color:black;
    font-weight:500;
    font-size: 20px;
}
